.App {
  text-align: center;
}

.App-header {
  background-color: #aeea00;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #000;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.nav-buttons button {
  background-color: none;
  font-size: 1.5rem;
  color: #000;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.nav-buttons button:active,
.nav-buttons button:hover
{
  background-color: #aeea00;
}

.nav-buttons button:nth-child(1) {
  border-right: 1px solid black;
}


.App-link {
  color: #61dafb;
}
